
/*New CSS file for website*/

body{
    background-color: white;
    border-radius: 1%;
}

h1{
    color: black;
}

img{
    width:10%;
    border-radius: 3%;
    border-color: black;
    border: 10px;
    /*float:left;*/

}

p{
    color: black;
    width: 100%;
}

p.toptx{
    font-size: large;
    font-weight: bold;
}


