
/*************\
*    Document  *
\*************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --lightBlue: #00FFFF;
    --grey: #2B2B2B;
}

img{
    display: block;
}

body{
    background-color: var(--grey);
}

.header{
    color:#fff;
    text-shadow: .125rem .125rem 1rem var(--lightBlue);

}

.basicText{
    color:#fff;
}

hr{
    color:#ffffff;
}

h2{
   color:#fff; 
}

/*************\
*    Nav bar  *
\*************/

#navbarResponsive{
    list-style-type: none;
    position: fixed;
    top: 1rem;
    right:1rem;
}

li{
    display: inline;
}

.nav-link{
    color: #ffffff;
    text-shadow: 2px 2px 5px #00FFFF;

    text-decoration: none;
    padding: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-style: solid;
    border-width: 0px;
    border-right-width: .125rem; 
}

/*should fix this but whaters*/
.resumeHeader {
    border-style: none;
}

/*************\
*    Top info  *
\*************/

.intro{
    background-color: #000;
    background-image: url(/images/360_F_461470323_6TMQSkCCs9XQoTtyer8VCsFypxwRiDGU.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center center;

    height:100vh;
}

#mainHeader{
    position: sticky;
    top: 10px;
    margin-left: 1rem;
    width: 50%;
}

.introText{
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

}



/*************\
*    About  *
\*************/

#about{
    position: sticky;
    top: 10px;
    margin:1rem;
    width: 50%;
}

.aboutContent{
    display: flex;
    gap: 1rem;

    margin: 1rem;
}

.selfie{
    width: 30%;
}

/***************\
*     Project   *
\****************/

#projectHeader{
    position:flex;
    top:10px;
    width: 50%;
}

.Projects{
    display: flex;
    justify-content: left;
    flex-direction: column;

    
    gap:1rem;

    margin: 1rem;
    
}

.projectSection{
    display: flex;
}

.individualProject{
    background-color: #fff;
    border-radius: 10px;
    margin-right: 1rem;

    width: 20%;

    display: flex;
    justify-content:baseline;
    align-items:center;
    flex-direction: column;
    gap: 1rem;
}

.projectText{
    color:#2B2B2B;    margin:1rem;
    margin: 1rem;
    margin-top: 0px;
}

.projectIMG{
    margin:1rem;
    margin-bottom: 0px;
    border-radius: 10px;

}


/*************\
*    Contact  *
\*************/

#mailNav{
    border-style: none;
    position: absolute;
    left:45%;
    width: 10%;
    text-align: center;
}



.contact-icon{
    width:3rem;
}